<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5707085206376219"
    crossorigin="anonymous"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QDSZE0VTXD"></script>
<title>Shuttle</title>
<link rel="stylesheet" href="/assets/css/style.css" />
<script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
<script src="/assets/js/index.js" defer></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QDSZE0VTXD"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag("js", new Date());

    gtag("config", "G-QDSZE0VTXD");
</script>