<div class="alignment-container-1">
	<div class="header-container">
		<h1 class="head">404 Not Found</h1>
	</div>
	<div>
		<span id="404">
			<a href="/" id="404">Return Home</a>
		</span>
	</div>
</div>