<div class="ad-container">
    <script type="text/javascript">
        atOptions = {
            'key' : 'e16b08420c2c1a771ef676212f5ac3a6',
            'format' : 'iframe',
            'height' : 90,
            'width' : 728,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://imaginaryspooky.com/e16b08420c2c1a771ef676212f5ac3a6/invoke.js"></scr' + 'ipt>');
    </script>
</div>