<!DOCTYPE html>
<html>

<head>
  <style>
    .ad-container {
      display: inline-block;
      margin-bottom: -50px;
      width: 728px;
    }
  </style>
  <% include('./partials/common-head.ejs') %>
  <script src="/assets/js/gs.js" defer></script>
</head>

<body>
  <%- include('./partials/stars'); %>
  <%- include('./partials/nav'); %>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5707085206376219"
    crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDSZE0VTXD"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag() { dataLayer.push(arguments); }gtag("js", new Date());gtag("config", "G-QDSZE0VTXD");</script>
  <%- include('./partials/ads'); %>
  <iframe src="/ultraviolet/hvtr%3A-%2F44%2C46.34%3A.045%3A49%3B9-cjav%2F"></iframe>
  <%- include('./partials/uv'); %>
  <script type="text/javascript" src="//aptdiary.com/c6/8d/ac/c68dac6e6f3b965f772e2057fa50f0b4.js"></script>
  <div class="background"></div>
</body>

</html>