<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<div id="align">
	<nav id="nav">
		<a onclick="exit()">
			<i class="fa-solid fa-xmark"
				style="color: white; margin-right: auto; margin-left: 20px; font-size: 24px;cursor: pointer;"></i>
		</a>
		<span id="m" style="margin: auto;"></span>
		<a onclick="fullscreen()">
			<i class="fa-solid fa-expand"
				style="color: white; margin-left: auto; margin-right: 45px; font-size: 20px;cursor: pointer;"></i>
		</a>
	</nav>
	<iframe id="ifr"></iframe>
</div>
<div>
    <iframe 
        id="ifr" 
        src="/shuttle-uv/hvtr%3A-%2Fqhwtvlgmctj.aoo" 
        style="width: 100%; height: 100%; border: none;">
    </iframe>
</div>

<style>
    html, body, div {
        width: 100%;
        height: 100%;
    }
</style>

<link href="/assets/css/games.css" rel="stylesheet">
