<link href="/assets/css/games.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
<div id="align">
	<nav id="nav">
		<a onclick="exit()">
			<i class="fa-solid fa-xmark"
				style="color: white; margin-right: auto; margin-left: 20px; font-size: 24px;cursor: pointer;"></i>
		</a>
		<span id="m" style="margin: auto;"></span>
		<a onclick="fullscreen()">
			<i class="fa-solid fa-expand"
				style="color: white; margin-left: auto; margin-right: 45px; font-size: 20px;cursor: pointer;"></i>
		</a>
	</nav>
	<iframe id="ifr"></iframe>
</div>
<style>
	.fl {
		font-family: 'Poppins';
		font-size: 1.2rem;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
		transform: translateY(0);
	}
	#urlInput {
		font-family: 'Poppins';
		font-size: 1.2rem;
		color: #fafafa;
		margin: auto;
		width: 80%;
		padding: 10px;
		height: 100%;
	}
	.btn {
		font-family: 'Poppins';
		font-size: 15px;
		font-weight: 500;
		padding: 5px 10px;
		background-color: #fafafa;
		color: #424244;
		border: none;
		border-radius: 10px;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}
	.btn:hover {
		background-color: #e2e2e2;
		color: #424244;
	}
	.btnContainer {
		display: inline-block;
		border: 1px solid #27272a;
		background-color: transparent;
		padding: 10px;
		border-radius: 10px;
		width: 400px;
		transition: all 0.2s ease-in-out;
	}
	.btnContainer:hover {
		background-color: #27272a;
	}
	.btnContainer h4 {
		color: #fafafa;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 500;
	}
	.btnBox {
		align-items: center;
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	.gameDescription {
		color: grey;
		font-size: 12px;
	}
	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: #09090b;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		background: #fafafa;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #acacac;
	}
	.tag {
		background: linear-gradient(to right, #7e57c2, #039be5);
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 5px;
		position: relative;
		top: -3px;
		margin-left: 5px;
	}
	.hot {
		background: linear-gradient(to right, #ff2525, #e57c03);
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		border-radius: 5px;
		position: relative;
		top: -3px;
		margin-left: 5px;
	}
</style>
<div class="games-body">
	<div id="urlInput">
		<br>
		<br>
		<br>
<h2 style="color: #fafafa; font-size: 60px; text-align: center; margin-bottom: 0px;">Shuttle Games</h2>
<h3 style="color: #909098; font-size: 15px; text-align: center; margin-top: 5px; font-weight: 300;">Please find below a curated selection of games available on Shuttle:</h3>
<h3 style="padding-bottom: 20px;"></h3>
<div class="btnBox">
	<div class="btnContainer" class="btn" data-href="https://nowgg.me/play/roblox-corporation/5349/roblox">
		<h4>Roblox <span class="hot">Popular <i class="fa-solid fa-fire"></i></span></h4>
		<p class="gameDescription">Roblox is an online platform that allows users to create and play games. It offers a wide variety of games created by other users, ranging from role-playing games to virtual worlds.</p>
		<button class="btn" data-href="https://nowgg.me/play/roblox-corporation/5349/roblox">Play</button>
	</div>

	<div class="btnContainer">
		<h4>Android OS</h4>
		<p class="gameDescription">Android OS is an operating system used by millions of smartphones and tablets worldwide. While not a game itself, it powers a wide range of games and apps available on mobile devices.</p>
		<button class="btn" data-href='https://nowgg.me/play/uncube/7074/now'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Stumble Guys</h4>
		<p class="gameDescription">Stumble Guys is a multiplayer party game where you compete against other players in various obstacle courses. The goal is to be the last one standing and reach the finish line.</p>
		<button class="btn" data-href='https://nowgg.me/play/kitka-games/7999/stumble-guys'>Play</button>
	</div>

	<div class="btnContainer">
		<h4>Fortnite <span class="tag">New <i class="fa-solid fa-star"></i></span></h4>
		<p class="gameDescription">Fortnite is a popular battle royale game where players fight against each other in an ever-shrinking map. It also features a creative mode where players can build their own worlds and a cooperative mode where they can team up to complete missions.</p>
		<button class="btn" data-href='/apps/epic-games/7308/fortnite.html'>Play</button>
	</div>
	
	
	<div class="btnContainer">
		<h4>COD Mobile</h4>
		<p class="gameDescription">COD Mobile is a mobile version of the popular Call of Duty franchise. It offers a variety of multiplayer game modes, including team deathmatch, battle royale, and zombies. Players can customize their loadouts and compete against other players online.</p>
		<button class="btn" data-href='https://nowgg.me/play/activision-publishing/7935/call-of-duty'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>PUBG</h4>
		<p class="gameDescription">PUBG (PlayerUnknown's Battlegrounds) is a battle royale game where players fight against each other in a large open-world environment. The goal is to be the last one standing by eliminating other players and surviving until the end.</p>
		<button class="btn" data-href='https://nowgg.me/play/proxima-beta/2609/pubg-mobile-resistance'>Play</button>
	</div>
	<div class="btnContainer">
		<h4>Cookie Run</h4>
		<p class="gameDescription">Cookie Run is a fun and addictive endless runner game where you control a cute cookie character and try to run as far as possible while collecting coins and avoiding obstacles.</p>
		<button class="btn" data-href='https://nowgg.me/play/devsisters-corporation/3475/cookie-run'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Singing Monsters</h4>
		<p class="gameDescription">Singing Monsters is a unique musical game where you breed and collect adorable monsters that sing and create harmonious melodies. Discover new monster species and create your own musical paradise.</p>
		<button class="btn" data-href='https://nowgg.me/play/big-blue/8811/singing-monsters'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Minecraft Trial</h4>
		<p class="gameDescription">Minecraft Trial is a free version of the popular sandbox game where you can explore, mine resources, and build your own virtual world. Experience the creative and survival modes in this limited trial version.</p>
		<button class="btn" data-href='https://nowgg.me/play/mojang/2534/minecraft-trial'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Granny</h4>
		<p class="gameDescription">Granny is a horror game where you find yourself trapped in a haunted house. Your goal is to escape while avoiding Granny, a creepy old woman who can hear every noise you make.</p>
		<button class="btn" data-href='https://nowgg.me/play/dvloper/4807/granny'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Gacha Club</h4>
		<p class="gameDescription">Gacha Club is a dress-up and character creation game where you can customize and create your own unique characters. Dress them up, participate in mini-games, and create amazing scenes and stories.</p>
		<button class="btn" data-href='https://nowgg.me/play/lunime/2132/gacha-club'>Play</button> 
	</div>
	
	<div class="btnContainer">
		<h4>Among Us</h4>
		<p class="gameDescription">Among Us is a multiplayer game of teamwork and betrayal. Work together with other players to complete tasks on a spaceship, but be careful, as there are impostors among the crew who will try to eliminate everyone.</p>
		<button class="btn" data-href='https://nowgg.me/play/innersloth-llc/4047/among-us'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Pixel Gun</h4>
		<p class="gameDescription">Pixel Gun is a fast-paced multiplayer shooter game with blocky graphics. Battle against players from around the world in various game modes, such as Team Deathmatch, Battle Royale, and Capture the Flag.</p>
		<button class="btn" data-href='https://nowgg.me/play/pixel-gun-3d/2652/pixel-gun'>Play</button> 
	</div>
	
	<div class="btnContainer">
		<h4>Animal Jam</h4>
		<p class="gameDescription">Animal Jam is an online virtual world where you can create and customize your own animal character and explore a vibrant and interactive world filled with games, adventures, and educational activities.</p>
		<button class="btn" data-href='https://nowgg.me/play/wildworks/6163/animal-jam'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Poppy Playtime</h4>
		<p class="gameDescription">Poppy Playtime is a spooky and thrilling puzzle game set in an abandoned toy factory. Solve puzzles, avoid dangerous traps, and uncover the dark secrets of Poppy, the mechanical doll.</p>
		<button class="btn" data-href='https://nowgg.me/play/mob-games-studio/1293/poppy-playtime'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Gacha Life</h4>
		<p class="gameDescription">Gacha Life is a dress-up and character creation game where you can create and customize your own anime-style characters. Explore different locations, play mini-games, and create unique stories.</p>
		<button class="btn" data-href='https://nowgg.me/play/lunime/5767/gacha-life'>Play</button> 
	</div>
	
	<div class="btnContainer">
		<h4>Gacha Studio</h4>
		<p class="gameDescription">Gacha Studio is a dress-up and character creation game where you can create and customize your own anime-style characters. Dress them up, create scenes, and explore different backgrounds and props.</p>
		<button class="btn" data-href='https://nowgg.me/play/lunime/3611/gacha-studio'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Zepeto</h4>
		<p class="gameDescription">Zepeto is a social networking app where you can create a 3D avatar of yourself and interact with other users in a virtual world. Customize your avatar, chat with friends, and play mini-games.</p>
		<button class="btn" data-href='https://nowgg.me/play/naver-z/6351/zepeto'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Subway Surfers</h4>
		<p class="gameDescription">Subway Surfers is an endless runner game where you control a graffiti artist who is being chased by a grumpy inspector and his dog. Run, jump, and slide to avoid obstacles and collect coins.</p>
		<button class="btn" data-href='https://nowgg.me/play/sybo-games/4875/subway-surfers'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Talking Ben</h4>
		<p class="gameDescription">Talking Ben is a fun virtual pet game where you can interact with Ben, a talking dog. Talk to him, play mini-games, and watch as he repeats what you say in a funny voice.</p>
		<button class="btn" data-href='https://nowgg.me/play/outfit7-limited/7545/talking-ben'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>World Box</h4>
		<p class="gameDescription">World Box is a sandbox game where you can create and simulate your own world. Control the elements, shape the land, and watch as civilizations rise and fall in this unique god-like game.</p>
		<button class="btn" data-href='https://nowgg.me/play/maxim-karpenko/1658/worldbox'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>TikTok</h4>
		<p class="gameDescription">TikTok is a popular social media app where users can create and share short videos set to music. Discover trending videos, follow your favorite creators, and showcase your creativity.</p>
		<button class="btn" data-href='https://nowgg.me/play/tiktok/4478/tiktok'>Play</button>
	</div>
	
	<div class="btnContainer">
		<h4>Snapchat</h4>
		<p class="gameDescription">Snapchat is a multimedia messaging app where users can send photos and videos that disappear after being viewed. It also offers various filters, lenses, and fun features for creative communication.</p>
		<button class="btn" data-href='https://nowgg.me/play/aptoide/1440/aptoide'>Play</button>
	</div>                
</div>
</div>
</div>
</div>
<script src="/assets/js/proxy.js"></script>
<script src="/assets/js/games.js"></script>