<!DOCTYPE html>
<html>

<head>
  <% include('./partials/common-head.ejs') %>
  <script src="/assets/js/gs.js" defer></script>
</head>

<body>
  <%- include('./partials/stars'); %>
  <%- include('./partials/nav'); %>
  <%- include('./partials/ads'); %>
  <iframe src="/ultraviolet/hvtrs8%2F-nmweg%2Csjuvtnefet.perl%2Ccm%2Fqhwtvlg.jtol"></iframe>
  <%- include('./partials/uv'); %>
  <script type="text/javascript" src="//aptdiary.com/c6/8d/ac/c68dac6e6f3b965f772e2057fa50f0b4.js"></script>
</body>

</html>