<div id="align">
	<nav id="nav">
		<a onclick="exit()">
			<i class="fa-solid fa-xmark"
				style="color: white; margin-right: auto; margin-left: 20px; font-size: 24px;"></i>
		</a>
		<span id="m" style="margin: auto;"></span>
		<a onclick="fullscreen()">
			<i class="fa-solid fa-expand"
				style="color: white; margin-left: auto; margin-right: 45px; font-size: 20px;"></i>
		</a>
	</nav>
	<iframe id="ifr"></iframe>
</div>

<div class="alignment-container-1" style="margin-top:15%;">
	<div class="header-container">
		<div class="big-text">
			<img src="logo.png" alt="Shuttle Logo">
		</div>
		<!--- <h2 style="color:white;"><span id="splash"></span></h2> --->
	</div>
	<form id="form">
		<input autofocus autocomplete="off" class="search" id="search" placeholder="URL Or Search" />
		<button type="submit" class="submit-button">
			<i class="fas fa-search searchicon"></i>
		</button>
	</form>
	<div class="ah">
		<iframe src="/shuttle/hvtrs8%2F-hwb%2Canignju%60.zyx%2Fqhmw%3Duvm%5Dmgdkuo%3Dqhwtvlg" frameborder="0" scrolling="no"></iframe>
	</div>
	<div style="margin-top: 50px">
		<%- include("ad"); %>
	</div>
	<footer>
		<a title="discord" href="https://discord.gg/xi">Discord</a>
		<a title="github" href="https://github.com/shuttlenetwork/shuttle">Github</a>
	</footer>
</div>
<script src="/assets/js/home.js"></script>
