<script src="/assets/js/proxy.js" defer></script>
<div id="align">
	<nav id="nav">
		<a onclick="exit()">
			<i class="fa-solid fa-xmark"
				style="color: white; margin-right: auto; margin-left: 20px; font-size: 24px;cursor: pointer;"></i>
		</a>
		<span id="m" style="margin: auto;"></span>
		<a onclick="erudaToggle()">
			<i class="fa-solid fa-code"
				style="color: white; margin-left: auto; margin-right: 5px; font-size: 20px;cursor: pointer;"></i>
		</a>
		<a onclick="fullscreen()">
			<i class="fa-solid fa-expand"
				style="color: white; margin-left: auto; margin-right: 45px; font-size: 20px;cursor: pointer;"></i>
		</a>
	</nav>
	<iframe id="ifr"></iframe>
</div>

<div class="alignment-container-1" style="margin-top:15%;">
	<div class="header-container">
		<div class="logo-image">
			<img src="logo.png" alt="Shuttle Logo" width="100%">
		</div>
	</div>
	<div class="header-container" style="margin-bottom: 50px;">
	</div>
	<form id="form">
		<input autofocus autocomplete="off" class="search" id="search" placeholder="URL Or Search" required />
		<button type="submit" class="submit-button">
			<i class="fas fa-search searchicon"></i>
		</button>
	</form>
	<div id="suggestions"></div>
	<div style="margin-top: 50px; z-index: 1;">
		<%- include("ad"); %>
	</div>


	<footer>
		<a title="discord" href="https://discord.gg/xi">Discord</a>
		<a title="github" href="https://github.com/shuttlenetwork/shuttle">Github</a>
	</footer>
</div>
<script src="/assets/js/home.js"></script>
<script>
	//window.addEventListener("load", () => abc());
</script>