<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<meta property="og:title" content="shuttle" />
	<meta property="og:description" content="s​h​ut​tle, the fa​stes​t p​ro​xy." />
	<meta property="og:image" content="/shuttle.png" />
	<meta name="theme-color" content="#000000" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="English" />

	<title>Shuttle</title>

	<link rel="stylesheet" href="/assets/css/style.css" />

	<script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>

	<script src="/assets/js/index.js" defer></script>
	<script src="/assets/js/particles.js" defer></script>
	<script src="/assets/js/cursor.js" defer></script>

	<%- include("ads-head") %>
</head>

<body>
	<div class="sidebar">
		<a href="/" id="logo">
			<img src="shuttle.png" alt="Logo">
		</a>
			<a href="/" id="logo">
		</a>
		<%- navItems.map(([to, name])=> `<a href="${to}" class="${to === path ? " nav-active" : "nav-btn"}"><span>${name}</span></a>`).join(" "); %>
		<a id="time" class="nav-btn" style="display: flex; justify-content: flex-end; margin-left: auto;"></a>
		<div>
			<input type="checkbox" class="checkbox" id="checkbox">
			<label for="checkbox" class="checkbox-label">
			  <i class="fas fa-moon"></i>
			  <i class="fas fa-sun"></i>
			  <span class="ball"></span>
			</label>
		  </div>
	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<%- include(page); %>
	<svg height="100%" width="100%" style="position: fixed; z-index: 0;"></svg>
</body>
<script>
	window.addEventListener("load", () => {
		const savedTheme = localStorage.getItem("shuttle||themehex");
		if (savedTheme) {
			document.body.style.backgroundColor = savedTheme;
		}
		if (localStorage.getItem("shuttle||fortniteMode") === "activated") {
			document.body.style.backgroundImage = "url(\"https://i.ytimg.com/vi/6evDWowLMbE/maxresdefault.jpg\")";
		}
	});
	
	// Why is this a thing
	setInterval(() => {
		var currentTime = new Date();

		var year = currentTime.getFullYear();
		var month = currentTime.getMonth() + 1; // Months are zero-based
		var day = currentTime.getDate();

		var hours = currentTime.getHours();
		var minutes = currentTime.getMinutes();
		var seconds = currentTime.getSeconds();

		var ampm = hours >= 12 ? "PM" : "AM";

		hours = (hours % 12) || 12;

		month = (month < 10 ? "0" : "") + month;
		day = (day < 10 ? "0" : "") + day;
		hours = (hours < 10 ? "0" : "") + hours;
		minutes = (minutes < 10 ? "0" : "") + minutes;
		seconds = (seconds < 10 ? "0" : "") + seconds;

		document.getElementById("time").innerHTML = year + "/" + month + "/" + day + " " + hours + ":" + minutes + ":" + seconds + " " + ampm;
	}, 1000);

const checkbox = document.getElementById("checkbox");
const body = document.body;
const darkMode = localStorage.getItem("darkMode");

function setDarkMode() {
	body.classList.add("dark");
	checkbox.checked = true;
}

function setLightMode() {
	body.classList.remove("dark");
	checkbox.checked = false;
}

function toggleDarkMode() {
	if (body.classList.contains("dark")) {
		setLightMode();
		localStorage.setItem("darkMode", "false");
	} else {
		setDarkMode();
		localStorage.setItem("darkMode", "true");
	}
}

checkbox.addEventListener("change", toggleDarkMode);

if (darkMode === "true") {
	setDarkMode();
} else {
	setLightMode();
}
</script>

</html>
