<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<meta name="theme-color" content="#000000" />
	<meta name="language" content="English" />

	<title>Shuttle</title>

	<link rel="stylesheet" href="/assets/css/style.css" />

	<script src="https://kit.fontawesome.com/be27c0ad9d.js" crossorigin="anonymous"></script>
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="/uv/uv.bundle.js"></script>
	<script src="/uv/uv.config.js"></script>

	<script src="/assets/js/index.js" defer></script>
	<script src="/assets/js/particles.js" defer></script>

	<script async src="//api.adinplay.com/libs/aiptag/pub/SHY/shuttleproxy.com/tag.min.js"></script>

	<%- include("ads-head") %>
</head>

<body>
	<div id="videoad"></div>
	<div class="sidebar">
		<a href="/" id="logo">
			<img src="shuttle.png" alt="Logo">
		</a>
			<a href="/" id="logo">
		</a>
		<%- navItems.map(([to, name])=> `<a href="${to}" class="${to === path ? " nav-active" : "nav-btn"}"><span>${name}</span></a>`).join(" "); %>
		<a id="time" class="nav-btn" style="display: flex; justify-content: flex-end; margin-left: auto;"></a>
		<div>
			<input type="checkbox" class="checkbox" id="checkbox">
			<label for="checkbox" class="checkbox-label">
			  <i class="fas fa-moon"></i>
			  <i class="fas fa-sun"></i>
			  <span class="ball"></span>
			</label>
		  </div>
	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
	<%- include(page); %>
</body>
</html>