<div class="alignment-container-1">
		<h1 class="settings-head">Settings</h1>
		<h2 class="settings-head2">about:blank cloaking</h2>
		<button class="button" onclick="abc()">Go about:blank</button>
		<h2 class="settings-head2">Title</h2>
		<input type="text" class="settingsInput button" onchange="changeTitle(this.value)" placeholder="Change Title" />
		<input type="text" class="settingsInput button" onchange="changeFavicon(this.value)" placeholder="Change Favicon (URL)" />
		<br />
		<h2 class="settings-head2">Search Engine</h2>
		<select class="browsers" id="browsers" onchange="changeSearch(this)">
			<option>Google</option>
			<option>DuckDuckGo</option>
			<option>Brave</option>
		</select>
</div>
<script src="/assets/js/settings.js"></script>